.popup-section{
    position: relative;
}

.popup-section .header{
    position: relative;
    width: 100%;
    height: 316px;
    display: grid;
    place-items: center;
}

.popup-section .header img#bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.popup-section .header #content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.popup-section .header #content img{
    height: auto;
    width: 77px;
}

.popup-section .header #content h2{
    font-size: 48px;
    font-weight: 600;
}

.popup-section .header #content p{
    position: relative;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    color: #000000;
}

.popup-section .header #content p img{
    height: 20px;
    width: 20px;
}

.popup-section .header #content p a{
    text-decoration: none;
    color: #000;
    outline: none;
}

.popup-section .cart-wrapper{
    position: relative;
    padding: 3.5rem 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center
}

.popup-section .cart-wrapper .items{
    flex: 3;
    width: 100%;
    position: relative;
}

.popup-section .cart-wrapper .checkout-wrapper{
    flex: 1;
}

.popup-section .cart-wrapper .checkout-wrapper .main{
    background: var(--primary-color300);
    border-radius: 10px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.popup-section .cart-wrapper .checkout-wrapper .main p#checkout-heading{
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 1rem;
}

.popup-section .cart-wrapper .checkout-wrapper .main p#subtotal{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.popup-section .cart-wrapper .checkout-wrapper .main p#subtotal span{
    color: var(--text-color400);
    font-weight: 400;
}

.popup-section .cart-wrapper .checkout-wrapper .main p#total{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.popup-section .cart-wrapper .checkout-wrapper .main p#total span#total-price{
    color: var(--primary-color500);
    font-weight: 600;
    font-size: 20px;
}

.popup-section .cart-wrapper .checkout-wrapper .main a{
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
    border: 1px solid #000;
    text-decoration: none;
    outline: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    text-align: center;
}