.shop-product-wrapper{
    position: relative;
    padding: 3rem 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

@media only screen and (max-width: 500px){
    .shop-product-wrapper{
        position: relative;
        padding: 3rem 3%;
        width: 100%;
    }

    .shop-product-wrapper .product-card{
        min-width: 100%;
    }
}